* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

script {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

.flex {
  display: flex;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.header-container__item {
  margin: 10px 20px;
}

.header-container__page-title {
  font-size: 3rem;
}

.header-container__page-switcher {
  width: 180px;
  height: 50px;
}

.index__schedule {
  margin-bottom: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.index__schedule__no-plans {
  margin: 0 auto;
  font-size: 2rem;
}

.index__schedule__entry {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 4fr 1fr 1fr 4fr;
  column-gap: 10px;
  justify-items: center;

  margin: 1px 2.5%;
  padding: 10px;
  width: 95%;
  border: 2px solid black;
  background-color: rgb(200, 200, 200);
}

.index__schedule__entry__text {
  font-size: 1.5rem;
}

.index__schedule__entry__text-datetime {
  justify-self: start;
}

.index__schedule__entry__text-eventname {
  grid-column: span 2;
  font-weight: bold;
}

.index__schedule__entry__text-entrancefee {
  justify-self: end;
}

.index__schedule__entry__text-nobands {
  grid-column: 1 / 5;
}

.index__schedule__entry__text-bands {
  grid-column: span 2;
  justify-self: end;
}

.index__schedule__entry__text-bandentry {
  grid-column: 3 / 5;
  justify-self: start;
}

.add__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  height: 350px;
}

.add__grid-container__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0 10px;
  padding: 10px;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
}

.add__grid-container__form {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: 100%;
}

.event-form__title {
  align-self: center;
  font-size: 2rem;
}

.add__grid-container__form__label {
  font-size: 1.5rem;
}

.add__grid-container__form__input {
  margin-bottom: 5px;
  width: 100%;
  border: 0;
  border-radius: 5px;
}

.add__grid-container__form__submit {
  width: 120px;
  font-size: 1.5rem;

  background-color: rgb(220, 220, 220);
  border-radius: 15px;
}

.add__grid-container__form__submit:hover {
  background-color: rgb(240, 240, 240);
}

.add__grid-container__form__submit:active {
  background-color: rgb(200, 200, 200);
}
